@model WebApp.Models.PhotoModel

@{
	ViewBag.Title = "DeletePhoto";
}

<h2>Delete Photo</h2>

<div>
	<h4>Are you sure you want to delete this photo?</h4>
	<div style="margin-top:10px">
		<img alt="Cinque Terre" src=@Model.ThumbnailPath>
		<div class="caption">
			<h5>@Path.GetFileName(@Model.PhotoPath)</h5>
		</div>
	</div>
	<table>
		<tr>
			<td>
				<button type="button" class="btn btn-primary" id="btnCancel" onclick="onCancel()">Cancel</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger" id="btnOK" onclick="onOK()">OK</button>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	function onOK() {
		$("#btnCancel").attr('disabled', !this.checked);
		$("#btnOK").attr('disabled', !this.checked);
		window.location.href = '@Url.Action("DeletePhotoExecution", new {thumbnailPath = Model.ThumbnailPath, date = Model.Date})';
	}
	function onCancel() {
		$("#btnCancel").attr('disabled', !this.checked);
		$("#btnOK").attr('disabled', !this.checked);
		window.location.href = '@Url.Action("CancelDeletePhoto")';
	}
</script>
