@model WebApp.Models.LogModel

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>


<div id="myDiv">
	<input type="text" id="myInput" />
	<button type="button" id="btnFilter" style="margin:10px" onclick="myFilter()">filter</button>
	<table class="table" id="myTable">
		<tr>
			<th>Type</th>
			<th>Message</th>
		</tr>
		@{var logs = Model.LogMessages; }
		@foreach (var log in logs)
		{
			<tr>
				<td>@Html.DisplayFor(model => log.Type)</td>
				<td>@Html.DisplayFor(model => log.Message)</td>
			</tr>
		}

	</table>
</div>

<script>

    function myFilter() {
        var inut, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        //loop through the ttable rows and filter those that don't match
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
