<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Acer\Pictures\mug4shana"/>
    <add key="OutputDir" value="C:\Users\Acer\Dropbox\chaviva\classes\3rd_year\2nd_semester\advanced_programming_2\ImageService\WebApp\outputDirectory"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>

